* {
    font-family: sans-serif;
    font-size: 16px;
    margin: 0%;
    padding: 0%;
}

/*----HEDER----*/

.grid-conteiner {
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0, 5fr auto 0, 5fr;
    grid-template-areas:
        "header header header"
        "main main main"
        "footer footer footer";
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-area: header;
    background-image: linear-gradient(to bottom left, rgba(128, 128, 128, 0.027), rgba(41, 41, 41, 0.418));
}

.header img {
    width: 600px;
    height: 100px;
    box-sizing: border-box;
    align-content: center;
}

.bg-naranja {
    background-color: rgb(196, 19, 19);
    border-radius: 15px;
    margin-top: 10px;
}

.header nav ul li {
    margin: 15px;
    align-content: center;
}

.header nav ul li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
}

/*----MAIN----*/

.main {
    grid-area: main;
}

.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: calc(100vh - 100px);
    background: linear-gradient(rgba(179, 38, 38, 0.267), rgba(121, 80, 80, 0.603)), url(/imagenes/descarga.jpg);
    background-position: center;
    background-size: cover;
}

.hero div {
    text-align: center;
    margin-bottom: 50px;
}

.hero div h1 {
    color: rgb(255, 255, 255);
    text-align: center;
    margin-bottom: 5px;
    padding: 15px;
    text-transform: uppercase;
    font-size: 45px;
}

.destacada {
    background-color: rgb(196, 19, 19);
    text-align: center;
}

.destacada div {
    display: flex;
    background-color: white;
}

.destacada h2 {
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 30px;
    background-color: rgb(196, 19, 19);
    padding: 25px;
    border-radius: 15px;
}

.destacada div p {
    display: flex;
    align-items: center;
    margin: 30px;
}

.destacada div img {
    width: 800px;
    height: 350px;
}

.noticias {
    text-align: center;
}

.noticias h2 {
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 30px;
    background-color: rgb(196, 19, 19);
    padding: 25px;
}

.noticias>div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: rgb(255, 255, 255);
}

.noticias>div>div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 400px;
}

.noticias div img {
    margin: 30px;
}

.transition {
    transition: 1s;
}

.transition:hover {
    transform: scale(1.1);
}

.btn-naranja {
    background-color: rgb(196, 19, 19);
}


/*----FOOTER----*/

.footer {
    display: flex;
    justify-content: space-around;
    align-content: center;
    background-image: linear-gradient(to bottom left, rgba(128, 128, 128, 0.027), rgba(41, 41, 41, 0.418));
    grid-area: footer;
}

.footer>img {
    width: 350px;
    height: 80px;
    margin-right: 25px;
    margin-top: 30px;
}

.footer div ul {
    margin-top: 5px;
    margin-left: 10px;
    padding: 15px;
    list-style: none;
    display: flex;
}

.footer div ul img {
    width: 45px;
    height: 45px;
    margin-top: 5px;
    padding: 10px;
}

.footer div h4 {
    margin-top: 30px;
}

/*----Media Queries----*/

@media screen and (max-width: 1269px) {
    .header {
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    .header nav ul li a {
        flex-direction: column;
        justify-content: center;
    }
}

@media screen and (max-width: 1180px) {
    .header img {
        width: 100%;
        height: auto;
    }
}

@media screen and (max-width: 822px) {
    .hero {
        width: 100%;
        flex-direction: column;
        justify-content: center;
    }
}

@media screen and (max-width: 914px) {
    .destacada div {
        width: 100%;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    .destacada div img {
        width: 100%;
        height: 100%;
    }
}

@media screen and (max-width: 1150px) {
    .noticias div {
        width: 100%;
        justify-content: center;
        text-align: center;
    }
}

@media screen and (max-width: 705px) {
    .footer {
        flex-direction: column;
        justify-content: center;
        text-align: center;
        height: auto;
        align-content: center;
    }

    .footer div ul {
        justify-content: center;
        text-align: center;
        align-content: center;
    }

    .footer>img {
        align-content: center;
        justify-content: center;
        padding: 60px;
    }
}