* {
    font-family: sans-serif;
    font-size: 16px;
    margin: 0%;
    padding: 0%;
}

/*----HEDER----*/

.grid-conteiner {
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0, 5fr auto 0, 5fr;
    grid-template-areas:
        "header header header"
        "main main main"
        "footer footer footer";
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-area: header;
    background-image: linear-gradient(rgba(26, 25, 25, 0.178), rgba(177, 177, 177, 0.103), grey)
}

.header img {
    width: 180px;
    height: 180px;
    box-sizing: border-box;
    align-content: center;
    margin-left: 100px;
}

.bg-naranja {
    background-color: rgb(196, 19, 19);
    border-radius: 15px;
    margin-top: 10px;
}

.header nav ul li {
    margin: 15px;
    align-content: center;
}

.header nav ul li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
}

/*----MAIN----*/

.main {
    grid-area: main;
}

.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 300px;
    background-image: linear-gradient(rgba(179, 38, 38, 0.267), rgba(121, 80, 80, 0.603)), url(../imagenes/Consola.jpg);
    background-position: center;
    background-size: cover;
}

.hero div {
    text-align: center;
    margin-bottom: 10px;
}

.hero div h1 {
    color: rgb(255, 255, 255);
    text-align: center;
    margin-bottom: 5px;
    padding: 15px;
    text-transform: uppercase;
    font-size: 45px;
}

.destacada>div {
    display: flex;
}

.destacada div h2 {
    display: flex;
    justify-content: center;
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 30px;
    background-color: rgb(196, 19, 19);
    text-align: center;
    border-radius: 30px;
    padding: 50px;
}

.noticias {
    text-align: center;
}

.noticias div h2 {
    display: flex;
    justify-content: center;
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 30px;
    background-color: rgb(196, 19, 19);
    text-align: center;
    border-radius: 30px;
}

.noticias>div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: rgb(255, 255, 255);
}

.noticias>div>div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
}

.noticias>div>div>div {
    display: flex;
    justify-content: row;
    align-items: center;
    padding: 40px;
}
.noticias div div div img {
    margin-left: 10px;
    width: 20px;
}

.noticias>div>section {
    margin: 45px;
}

.noticias>h5 {
    margin-top: 25px;
    margin-bottom: 25px;
    color: rgb(196, 19, 19);
    font-size: 25px;
    text-align: center;
}

.transition {
    transition: 1s;
}

.transition:hover {
    transform: scale(1.1);
}

.btn-naranja {
    background-color: rgb(196, 19, 19);
}

/*----FOOTER----*/

.footer {
    display: flex;
    justify-content: space-around;
    align-content: center;

    grid-area: footer;
}

.footer>img {
    width: 350px;
    height: 80px;
    margin-right: 25px;
    margin-top: 30px;
}

.footer div ul {
    margin-top: 5px;
    margin-left: 10px;
    padding: 15px;
    list-style: none;
    display: flex;
}

.footer div ul img {
    width: 35px;
    height: 35px;
    margin-left: 40px;
    margin-bottom: 20px;

}

.footer div h4 {
    margin-top: 30px;
}

/*----Media Queries----*/

@media screen and (max-width: 1269px) {
    .header {
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    .header nav ul li a {
        flex-direction: column;
        justify-content: center;
    }
}

@media screen and (max-width: 1180px) {
    .header img {
        width: 200px;
        height: 200px;
        margin: 0;
    }
}

@media screen and (max-width: 896px) {
    .hero {
        width: 100%;
        flex-direction: column;
        justify-content: center;
    }

    .hero div img {
        width: 100%;
    }
}

@media screen and (max-width: 914px) {
    .destacada div {
        width: 100%;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        margin: 0px;
        padding: 0px;
    }

    .destacada div img {
        width: 100%;
        height: 100%;
        margin: 0px;
        padding: 0px;
    }
}

@media screen and (max-width: 1005px) {
    .destacada div h2 {
        padding: 50px;
        margin: 50px;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

}

@media screen and (max-width: 1150px) {
    .noticias div {
        width: 100%;
        justify-content: center;
        text-align: center;
    }
}

@media screen and (max-width: 1005px) {
    .noticias div h2 {
        padding: 50px;
        margin: 50px;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

}

@media screen and (max-width: 705px) {
    .footer {
        flex-direction: column;
        justify-content: center;
        text-align: center;
        height: auto;
        align-content: center;
    }

    .footer div ul {
        justify-content: center;
        text-align: center;
        align-content: center;
        margin-right: 45px;
    }

    .footer>img {
        align-content: center;
        justify-content: center;
        margin-left: 75px;
    }
}