* {
  font-family: sans-serif;
  font-size: 16px;
  margin: 0%;
  padding: 0%;
}

.grid-conteiner {
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0, 5fr auto 0, 5fr;
  grid-template-areas: "header header header" "main main main" "footer footer footer";
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  grid-area: header;
  background-image: linear-gradient(rgba(26, 25, 25, 0.178), rgba(177, 177, 177, 0.103), grey);
}
.header img {
  width: 180px;
  height: 180px;
  box-sizing: border-box;
  align-content: center;
  margin-left: 100px;
}
.header nav ul li {
  margin: 15px;
  align-content: center;
}
.header nav ul li a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
}

.bg-naranja {
  background-color: rgb(196, 19, 19);
  border-radius: 15px;
  margin-top: 10px;
}

.main {
  grid-area: main;
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 300px;
  background-image: linear-gradient(rgba(179, 38, 38, 0.267), rgba(121, 80, 80, 0.603)), url(../imagenes/Consola.jpg);
  background-position: center;
  background-size: cover;
}
.hero div {
  text-align: center;
  margin-bottom: 10px;
}
.hero div h1 {
  color: rgb(255, 255, 255);
  text-align: center;
  margin-bottom: 5px;
  padding: 15px;
  text-transform: uppercase;
  font-size: 45px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.hero-dos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 200px;
  background-image: linear-gradient(grey, rgba(128, 128, 128, 0.267));
}
.hero-dos div {
  text-align: center;
  margin-bottom: 10px;
}
.hero-dos div h1 {
  text-transform: uppercase;
  font-size: 50px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background: linear-gradient(rgb(173, 33, 8), rgba(131, 11, 11, 0.644));
  text-align: center;
  margin-bottom: 5px;
  padding: 15px;
  color: transparent;
  -webkit-background-clip: text;
}

.hero-tres {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 200px;
}
.hero-tres div {
  text-align: center;
  margin-bottom: 10px;
}
.hero-tres div h1 {
  text-transform: uppercase;
  font-size: 50px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background: rgb(196, 19, 19);
  text-align: center;
  margin-bottom: 5px;
  padding: 15px;
  color: transparent;
  -webkit-background-clip: text;
}

.destacada {
  text-align: center;
  margin-top: 10px;
}

.titulo-destacada {
  display: flex;
  justify-content: center;
}
.titulo-destacada h2 {
  color: rgb(255, 255, 255);
  background-color: rgb(196, 19, 19);
  border-radius: 30px;
  padding: 30px;
  font-size: 30px;
}

/*extend*/
.noticias, .noticiasPagas div, .noticias div div, .noticias div {
  text-align: center;
  margin-top: 10px;
}
.noticias div, .noticiasPagas div div, .noticias div div div {
  display: flex;
}
.noticias div h2, .noticiasPagas div div h2 {
  display: flex;
  justify-content: center;
  color: rgb(255, 255, 255);
  background-color: rgb(196, 19, 19);
  border-radius: 30px;
  padding: 30px;
  font-size: 30px;
}
.noticias div, .noticiasPagas div div, .noticias div div div {
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.noticias div div, .noticiasPagas div div div {
  justify-content: center;
  align-items: center;
  width: 400px;
  background-color: beige;
}
.noticias div div img, .noticiasPagas div div div img {
  height: 200px;
  width: 300px;
}
.noticias div div div, .noticiasPagas div div div div {
  justify-content: row;
  align-items: center;
  padding: 40px;
}

.noticiasPagas {
  text-align: center;
  margin-top: 10px;
}
.noticiasPagas div {
  display: flex;
}
.noticiasPagas div h2 {
  display: flex;
  justify-content: center;
  color: rgb(255, 255, 255);
  background-color: rgb(196, 19, 19);
  border-radius: 30px;
  padding: 30px;
  font-size: 30px;
}
.noticiasPagas div {
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.noticiasPagas div div {
  justify-content: center;
  align-items: center;
  width: 400px;
  background-color: beige;
}
.noticiasPagas div div img {
  height: 200px;
  width: 200px;
}
.noticiasPagas div div div {
  justify-content: row;
  align-items: center;
  padding: 40px;
}

.transition {
  transition: 1s;
}
.transition:hover {
  transform: scale(1.1);
  color: white;
}

.btn-naranja {
  background-color: rgb(196, 19, 19);
  color: white;
}

.formulario {
  margin: 200px;
  padding-left: 300px;
  padding-right: 300px;
}

.form-check {
  margin: 30px;
}

.footer {
  display: flex;
  justify-content: space-around;
  align-content: center;
  grid-area: footer;
  background-image: linear-gradient(rgba(26, 25, 25, 0.178), rgba(177, 177, 177, 0.103), grey);
}
.footer img {
  width: 200px;
  height: 200px;
}
.footer div h3 {
  font-size: 18px;
}
.footer div ul {
  padding: 15px;
  list-style: none;
  display: flex;
}
.footer div ul img {
  width: 50px;
  height: 50px;
  margin: 5px;
}

div h3 {
  margin-top: 50px;
  text-align: center;
}

@media screen and (max-width: 1269px) {
  .header {
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
}
/* mixin*/
@media screen and (max-width: 1180px) {
  .header img {
    width: 200px;
    height: 200px;
    margin: 0px;
  }
}
@media screen and (max-width: 896px) {
  .hero {
    width: 100%;
    flex-direction: column;
    justify-content: center;
  }
  .hero div img {
    width: 100%;
  }
}
@media screen and (max-width: 705px) {
  .footer {
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
  }
  .footer div ul {
    justify-content: center;
    text-align: center;
    align-content: center;
  }
  .footer img {
    width: 100px;
    height: 100px;
    margin: 0px;
  }
}

/*# sourceMappingURL=style.css.map */
