* {
    font-family: sans-serif;
    font-size: 16px;
    margin: 0%;
    padding: 0%;
}

.grid-conteiner {
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0, 5fr auto 0, 5fr;
    grid-template-areas:
        "header header header"
        "main main main"
        "footer footer footer";
}