@media screen and (max-width: 1269px) {
    .header{
        flex-direction: column;
        justify-content: center;
        text-align: center; 
    }
}        
/* mixin*/

@mixin tamanos ($ancho, $alto, $margin){
    width: $ancho;
    height: $alto;
    margin: $margin;
}

@media screen and (max-width: 1180px) {
    .header{ 
        img {
            @include tamanos(200px,200px,0px)
        }
    }
}
@media screen and (max-width: 896px) {
    .hero {
        width: 100%;
        flex-direction: column;
        justify-content: center;
        div 
            img {
                width: 100%;
            }
        }
    }

@media screen and (max-width: 705px) {
    .footer {
        flex-direction: column;
        justify-content: center;
        text-align: center;
        align-items: center;
        div{ 
            ul{
                justify-content: center;
                text-align: center;
                align-content: center;
                }
            }
                img {
                @include tamanos(100px,100px,0px)
    }
}
}

