@media screen and (max-width: 1269px) {
    .header{
        flex-direction: column;
        justify-content: center;
        text-align: center; 
        nav{ 
            ul{ 
                li{
                    a {
                        flex-direction: column;
                        justify-content: center;
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 1180px) {
    .header{ 
        img {
            width: 200px;
            height: 200px;
            margin: 0;
        }
    }
}
@media screen and (max-width: 896px) {
    .hero {
        width: 100%;
        flex-direction: column;
        justify-content: center;
        div 
            img {
                width: 100%;
            }
        }
    }

    
@media screen and (max-width: 1150px) {
    .noticias{ 
        div{
            width: 100%;
            justify-content: center;
            text-align: center;
        }
    }
}

@media screen and (max-width: 705px) {
    .footer {
        flex-direction: column;
        justify-content: center;
        text-align: center;
        height: auto;
        align-content: center;
        div{ 
            ul{
                justify-content: center;
                text-align: center;
                align-content: center;
                margin-right: 45px;
                }
            }
        img {
        align-content: center;
        justify-content: center;
        margin-left: 75px;
    }
}
}

