@import "../Base/variables";

.main {
    grid-area: main;
}

.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 300px;
    background-image: linear-gradient(rgba(179, 38, 38, 0.267), rgba(121, 80, 80, 0.603)), url(../imagenes/Consola.jpg);
    background-position: center;
    background-size: cover;
    div {
        text-align: center;
        margin-bottom: 10px;
        h1 {
            color: rgb(255, 255, 255);
            text-align: center;
            margin-bottom: 5px;
            padding: 15px;
            text-transform: uppercase;
            font-size: 45px;
        }
    }
}

/* Mixins */
@mixin titulos($tamano, $borde, $padding) {
    font-size: $tamano;
    padding: $padding;
    border-radius: $borde;
}

.destacada{ 
    text-align: center; 
}
.titulo-destacada{
        display: flex; 
        h2 {
            display: flex;
            justify-content: center;
            color: rgb(255, 255, 255);
            background-color: $color-principal;
            border-radius: 30px;
            padding: 30px;
            font-size: 30px;
        }
    }

.noticias{
    text-align: center; 
    div{ 
        display: flex; 
        h2 {
            display: flex;
            justify-content: center;
            color: rgb(255, 255, 255);
            background-color: $color-principal;
            border-radius: 30px;
            padding: 30px;
            font-size: 30px;
        }
    }
    div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: rgb(255, 255, 255);
        div {  
            display: flex;
        justify-content: center;
        align-items: center;
        width: 400px;            
                div {
                    display: flex;
                    justify-content: row;
                    align-items: center;
                    padding: 40px;
                        img {
                            margin-left: 10px;
                            width: 20px;
                        }
                    }
                }
            }
        }
    

.transition {
    transition: 1s;
    &:hover {
    transform: scale(1.1);
    }
}
.btn-naranja {
    background-color: $color-principal;
}

